form{
    .search-params{ display: flex; padding:16px; border: 1px solid lightgrey; box-sizing: border-box; border-radius: 3px;
        .select{margin: 0 16px 0 0;}
        .search-input{width: 100%;}
        button{margin: 0 auto 0 16px; padding: 6px; background: rgb(24, 106, 133); border: none; border-radius: 3px; cursor: pointer; color: white}
    }
}